<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tag.title %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tag.tag_id %>
</p>
<p>

</p>
<p>
  Project started <%= time_ago_in_words (@tag.created_at) %> ago
</p>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>

